html, #root, body {
  margin: 0;
  background: #F5F5F5;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: local('ProximaNovaSemibold'), url('./assets/fonts/font.otf') format('truetype');
}

::-webkit-scrollbar {
  width: 3px; /* Remove scrollbar space */
  background: #fff;
   /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: #F5F5F5;
}
.ce-chat-engine {
  width: 96%;
  border-radius: 20px;
}


.ce-chat-list {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important; 
}

.ce-settings {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}